{% extends "base.html" %}
{% load static %}
{% load extraTags %}

{% block content %}
  <div id="block_content">
      {% for index,name in algo|getDirect %}
      <div class="slideshow" id="{{index}}">
        {% with algo|add:"/"|add:name as direc %}
        {% for i,img in direc|getImages %}
          <div class="{{i}}">
            <img src="{% static 'img/' %}{{ algo }}/{{name}}/{{img}}" />
            <p></p>
          </div>
        {% endfor %}
        {% endwith %}
      </div>
      <div class="explanation" id="{{index}}_exp">
        test
      </div>
    {% endfor %}
    <button id="prev">Previous</button>
    <button id="go">GO</button>
    <button id="next">Next</button>
  </div>
{% endblock content %}
