{% extends 'base.html' %}
{% block title %}Success{% endblock title %}
{% load static %}

{% block content %}
  {{a}}
  {{b}}
  <p>
    <img src="{% static 'img/kmeans/img' %}{{ id }}.png" />
  </p>
  <form action="{% url 'integration.views.display' id %}" method="post">
    {% csrf_token %}
    <input type='submit' value='previous step' name="prev" />
    <input type='submit' value='next step' name="next" />
  </form>

  <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <input type='submit' value='new' name="new" />
  </form>
{% endblock content %}
