body{
  border: 1px solid blue;
  text-align: center;
  width: 960px;
  margin: auto;
  background-color: rgb(225,225,225);
}
#block_content{
  --text-align: left;
}
button{
  color: white;
  border-radius: 5px;
  width: 200px;
  border: 3px solid #555;
  margin: 5px;
  padding: 5px;
  background: rgba(125, 125, 125, 0.5);
}

.explanation, .slideshow
{
  display : inline-block;
  vertical-align : top;
}
.explanation
{
  width : 250px;
}
.slideshow{
    overflow: hidden;
    height: 500px;
    width: 700px;
}
#go{
  background: rgba(155,155,155,0.5);
}

.slideshow > div {
    /*position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;*/
}
