body{
  text-align: center;
}
#block_content{
}
.wrapper{
  margin: auto;
  min-height: 300px;
}
/******************************************************************************************
                                      HEADER
*******************************************************************************************/
header{
  background-image: url("http://localhost:8000/static/css/back.jpeg");
  color: #EEE;
  --background: #AAA;
  height: 150px;
  padding: 20px;
  margin-top: -10px;
}
button{
  color: white;
  --border-radius: 5px;
  width: 200px;
  border: 1px solid #AAA;
  margin: 5px;
  padding: 5px;
  background: #AAA;
}
button:hover, input:focus, select:focus{
  border: 1px solid #666;
  background: #666;
}
input
{
  color: white;
  --border-radius: 5px;
  width: 200px;
  border: 1px solid #DDD;
  margin: 5px;
  padding: 5px;
  background: #BBB;
}
select
{
  color : white;
  border: 1px solid #DDD;
  margin: 5px;
  padding: 5px;
  background: #BBB;
}
.explanation, .slideshow
{
  display : inline-block;
  vertical-align : top;
}
.explanation
{
  width : 40%;
}
.explanation:hover{
    /*cursor: pointer;*/
}

.slideshow{
    overflow: hidden;
    height: 500px;
    width: 600px;
}
.slideshow>div>img{
  height: 500px;
  width: 600px;
}
#manage{
  display: inline-block;
}
#go{
  background: rgba(155,155,155,0.5);
}

/*******************************************************************************************************************
                                              CODE AREA
*******************************************************************************************************************/
.code{
  /*color: #DDD;*/
  text-align: left;
  /*background: #444;*/
  padding: 10px;
}
.func{color:#4CF;}
.instr{color:#D617FF;}
.params{color:#D85;}
.tab{display:inline-block; width: 25px;}

/******************************************************************************************************************
                                                        MISC
*******************************************************************************************************************/
.errorlist{
    color: red;
    font-style: italic;
    font-size: : '4em';
}

footer {
  background: #CCC;
}
footer ul{
  display: inline-block;
  text-align: left;
}
